# Banco de dados
POSTGRES_USER=household
POSTGRES_PASSWORD=household@123
POSTGRES_DB=household_expenses

# Backend
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Host=household-db;Port=5432;Database=household_expenses;Username=household;Password=household@123

# Frontend
VITE_API_URL=http://localhost:5000